form {
    margin: auto;
    max-width: 800px;

    div {
        margin-bottom: 10px;
    }

    input, textarea {
        width: 100%;
        height: 40px;
    }

    textarea {
        height: 120px;
    }
}